{
	# Email opcional para certificados automáticos (Let's Encrypt)
	# email you@example.com
}

:3000 {
	encode gzip

	# API (FastAPI)
	reverse_proxy /api/* 127.0.0.1:8000 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}

	# Frontend (Next)
	reverse_proxy 127.0.0.1:3000
}
